---
import { getEntry } from "astro:content";

const page = await getEntry("pages", "index");
const { Content } = await page.render();
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{page.data.title}</title>
    {page.data.seoDescription && (
      <meta name="description" content={page.data.seoDescription} />
    )}
  </head>
  <body>
    <Content />
  </body>
</html>
